<%= form_with(model: @task, local: true) do |form| %>
    <div class="task_title">
      <%= form.label :title, t('view.task.title') %>
      <%= form.text_field :title %>
    </div>
    <div class="task_content">
      <%= form.label :content, t('view.task.detail') %>
      <%= form.text_field :content %>
    </div>
    <%= form.submit %>
  <% end %>