<%= form_with(model: @task, local: true) do |form| %>
    <div class="task_title">
      <%= form.label :タスク名 %>
      <%= form.text_field :title %>
    </div>
    <div class="task_content">
      <%= form.label :詳細 %>
      <%= form.text_field :content %>
    </div>
    <%= form.submit %>
  <% end %>