<h1><%= t('view.tasks_index') %></h1>
<p><%= notice %></p>
<%= link_to t('view.register'), new_task_path %>
<table>
  <tr>
    <th><%= t('view.task_title') %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= link_to t('view.details'), task_path(task.id) %></td>
      <td><%= link_to t('view.update'), edit_task_path(task.id) %></td>
      <td><%= link_to t('view.delete'), task_path(task.id), method: :delete %></td>
    </tr>
  <% end %>
</table>