<h1><%= t('view.task.index') %></h1>
<p><%= notice %></p>
<%= link_to t('view.task.register'), new_task_path %>
<table>
  <tr>
    <th><%= t('view.task.title') %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td id = "task_title"><%= task.title %></td>
      <td><%= link_to t('view.task.detail'), task_path(task.id) %></td>
      <td><%= link_to t('view.task.update'), edit_task_path(task.id) %></td>
      <td><%= link_to t('view.task.delete'), task_path(task.id), method: :delete %></td>
    </tr>
  <% end %>
</table>